.projects-page {
    max-width: 100%;
}

.projects-page .card {
    width: 42rem;
    border: solid 5px var(--accent3);
}

.projects-page h2 {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
    color: var(--accent3);
}

a {
    color: var(--accent3);
}

.projects-skill-filter {
    max-width: 100vw;
    margin-bottom: 2rem;
    position: sticky;
    top: 2px;
    padding: 2rem;
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    border: solid 1px rgba(255, 255, 255, 0.5);
}

.filter-option {
    height: unset;
    width: unset;
    font-size: unset;
    font-weight: unset;
    border: solid 1px rgba(255, 255, 255, .5);
    padding: .2rem 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: all 0.2s ease-out;
    display: flex;
    flex-direction: column;
    height: 2rem;
    min-width: 4rem;
    width: fit-content;
    align-items: center;
    justify-content: center;
}

.filter-option p {
    width: fit-content;
}

.filter-option img {
    display: block;
    max-width: 2rem;
    max-height: 2rem;
    width: auto;
    height: auto;
}

.filter-option-selected {
    background: unset;
    /* background-color: var(--accent3) !important; */
    border: solid 3px rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(255, 255, 255, .5);
    transition: all 0.2s ease-in;
}

.project-item {
    background: linear-gradient(
        to bottom right,
        transparent,
        rgba(var(--accent1-rgb), .5),
        rgba(var(--accent2-rgb), .5),
        transparent
    );
    border: solid 1px rgba(255, 255, 255, .5);
    backdrop-filter: blur(2px);
    border-radius: 1rem;
    width: 60rem;
    max-width: 90vw;
}
.project-item h3 {
    padding: .2rem;
    border-bottom: solid 1px rgba(255, 255, 255, .5);
}

.project-item-body > img {
    border-radius: 0 0 0 1rem;
    box-shadow: none;
    border-right: solid 1px rgba(255, 255, 255, .5);
    width: inherit;
}

.project-item-footer {
    width: inherit;
}

.project-item-footer a {
    margin-left: auto !important;
    color: #0C1117;
}