.projects-page {
    max-width: 100%;
}

.projects-page .card {
    width: 42rem;
    border: solid 5px var(--accent3);
}

.projects-page h2 {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
    color: var(--accent3);
}

a {
    color: var(--accent3);
}

.projects-skill-filter {
    max-width: 100vw;
    margin-bottom: 2rem;
    position: sticky;
    top: 2px;
    padding: 2rem;
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    border: solid 1px rgba(255, 255, 255, 0.5);
    max-width: 60rem;
}

.filter-option {
    height: unset;
    width: unset;
    font-size: unset;
    font-weight: unset;
    border: solid 1px rgba(255, 255, 255, .5);
    padding: .2rem 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: all 0.2s ease-out;
    display: flex;
    flex-direction: column;
    height: 2rem;
    min-width: 4rem;
    width: fit-content;
    width: fit-content;
    align-items: center;
    justify-content: center;
}

.filter-option p {
    width: fit-content;
}

.filter-option img {
    display: block;
    max-width: 2rem;
    max-height: 2rem;
    width: auto;
    height: auto;
}

.filter-option-selected {
    background: unset;
    /* background-color: var(--accent3) !important; */
    border: solid 3px rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(255, 255, 255, .5);
    transition: all 0.2s ease-in;
}

.reset-filter-option {
    background-color: var(--accent3);
}

.project-item {
    background: linear-gradient(
        to bottom right,
        transparent,
        rgba(var(--accent1-rgb), .2),
        rgba(var(--accent2-rgb), .2),
        transparent
    );
    border: solid 1px rgba(255, 255, 255, .5);
    backdrop-filter: blur(2px);
    border-radius: 1rem;
    max-width: 90vw;
}

.project-item:nth-child(even) {
    margin-left: auto;
}

.project-item:nth-child(even) .project-item-body {
    flex-direction: row-reverse;
}

.project-item:nth-child(even) .project-item-footer {
    flex-direction: row-reverse;
}


.project-item h3 {
    padding: .2rem;
    border-bottom: solid 1px rgba(255, 255, 255, .5);
    margin-left: 1rem;
}

.project-item b {
    color: white;
}

.project-item-main {
    max-width: 60%;
}

.project-item-body {
    max-height: 30rem;
}

.project-item-body > img {
    border-radius: 0 0 0 1rem;
    box-shadow: none;
    border-right: solid 1px rgba(255, 255, 255, .5);
    width: inherit;
    max-height: 30rem;
    flex: 1;
    max-width: unset;
}

.project-item-footer {
    width: inherit;
}

.project-links {
    margin-left: auto !important;
}

.project-item:nth-child(even) .project-links {
    margin-left: 0 !important;
    margin-right: auto;
}

.project-item:nth-child(even) .project-item-body > img {
    border-radius: 0 0 1rem 0;
    margin-right: unset;
    margin-left: solid 1px rgba(255, 255, 255, .5);
}

.project-item:nth-child(even) .tech-icon:first-child {
    margin-left: 8px !important;
}

.project-links > * {
    cursor: pointer;
    color: #0C1117;
}

@media screen and (max-width: 600px) {
    .project-item {
        width: 90vw;
    }

    .project-item-main {
        max-width: 100% !important;
    }

    .project-items-wrapper {
        align-items: center;
    }

    .projects-skill-filter{
        padding: .5rem;
        border-radius: none;
        width: 100vw;
        border-radius: 0;
    }

    .project-item-body {
        flex-direction: column !important;
        max-height: unset;
    }

    .project-item {
        margin-left: unset !important;
        margin-right: unset !important;
    }

    .project-item h3 {
        border-bottom: none;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .project-item-body > img {
        border-radius: 0 !important;
        border: unset;
        border-top: solid 1px rgba(255, 255, 255, .5);
        border-bottom: solid 1px rgba(255, 255, 255, .5);
    }
}