.profile-page h2 {
    color: var(--accent1);
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 600px) {
    main > div  {
        padding: 0;
    }

    .card-content {
        align-items: center;
        flex-direction: column;
    }

    .card-content > img {
        margin-bottom: 1rem;
    }
}   